* {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-heading {
  font-family: 'Calistoga', cursive;
  font-size: 6rem;
}

.custom-accent {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 1.5rem;
}

.custom-sub-heading {
  font-size: 1.2rem;
}

.figure-caption {
  font-size: 0.8rem;
}

.align-text-center {
  text-align: center;
  vertical-align: middle;
}

.custom-container-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.article-content {
  font-size: 1.2rem;
}

.thicc-hr {
  border: none;
  height: 2px;
  color: black;
  background-color: darkgrey;
  margin-bottom: 0;
  margin-top: 5%;
}

.lil-hr {
  margin-top: 5px;
  margin-bottom: 3%;
}