* {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  color: #525252;
  background-color: white;
}

.nen-main {
  margin-top: 5%;
}

.nen-anchor {
  text-decoration: none;
  color: black;
}

.nen-anchor:hover {
  text-decoration: none;
  color: grey;
}

.nen-heading {
  font-family: 'Calistoga', cursive;
  font-size: 6rem;
}

.nen-accent {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 1.5rem;
}

.nen-sub-heading {
  font-size: 1.2rem;
}

.nen-figure-caption {
  font-size: 0.8rem;
}

.nen-align-text-center {
  text-align: center;
  vertical-align: middle;
}

.nen-container-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.nen-article-content {
  font-size: 1.2rem;
}

.nen-margin-top {
  margin-top: 5%;
}

.nen-hr-title {
  border: none;
  height: 2px;
  color: black;
  background-color: darkgrey;
  margin-bottom: 0;
}

.nen-lil-hr {
  margin-top: 5px;
  margin-bottom: 3%;
}

.nen-button-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nen-article-image {
  width: 500px;
  height: auto;
}

.nen-search-input {
  width: 6rem;
}

.nen-filter {
  margin-left: 5%;
  margin-right: 5%;
}

.nen-spinner {
  align-self: center;
  margin-top: 4rem;
}